$root-font-size: 1rem;
$page-width: 800px;
$paragraph-font-size: 1rem;

$header-padding-top: 5px;
$header-padding-left: 10px;
$header-height: 140px;
$header-hb-top: 45px;

$section-margin-top: 115px;

// theme
$theme-black: #000;
$theme-bg: #fff;
$theme-bg-overlay: #1e1e1e;
$theme-font-color: #484848;
$theme-primary: white;
$theme-primary-header: white;
$theme-headers-font:#ed1849;

// responsive
$mobile-width: 600px;
$header-list-width: 300px;

